{% load thumbnail %}

    <a href="{% url 'image' pk=image.id %}" data-pjax class="thumbnail">
        {% thumbnail image.image '320x240' crop='center' as im %}

            <img src="{{ im.url }}" alt=""/>

        {% endthumbnail %}

        <div class="panel">
            <ul id="image_{{ image.id }}_attributes" class="no-bullet image-attributes">
                {% if imagebase_settings.show_id %}
                    <li class="attr_id"><small>id</small> {{ image.id }}</li>
                {% endif %}
                {% if imagebase_settings.show_title %}
                    <li class="attr_title"><small>title</small> {{ image.title }}</li>
                {% endif %}
                {% if imagebase_settings.show_tags %}
                    <li class="attr_tags"><small>tags</small> {{ image.tags.names|join:' ' }}</li>
                {% endif %}
            </ul>
        </div>
    </a>

