{% extends 'base.html' %}
{% load thumbnail %}

{% block main %}

    <h2 class="heading">Delete Image{% if image.title %}: <strong>{{ image.title }}</strong>{% endif %}</h2>

    {% thumbnail image.image "150" crop="center" as im %}
        <div class="main_image_container">
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="main_image"/>
        </div>
    {% endthumbnail %}

    <div class="row">
        <div class="medium-6 columns">
            <form action="" role='form' method="post" class="delete_form">
                {% csrf_token %}
                {{ form }}
                <hr/>
                <button type="submit" class="">Confirm Delete</button>
                <a href="{% url 'image' pk=image.id %}">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}