{% load thumbnail %}

<h2 class="heading">Edit Image{% if image.title %}: <strong>{{ image.title }}</strong>{% endif %}</h2>

{% thumbnail image.image "150" crop="center" as im %}
    <div class="main_image_container">
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="main_image"/>
    </div>
{% endthumbnail %}

<div class="row">
    <div class="medium-8 columns">
        <form action="" role='form' method="post" class="update_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <hr/>
            <button type="submit" class="">Update</button> <a href="{% url 'image' pk=image.id %}">Cancel</a>
        </form>
    </div>
</div>
