{% extends 'base.html' %}
{% load thumbnail %}

{% block pagetitle %}Dashboard{% endblock %}

{% block main %}
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
        {% for image in image_list %}
            <div class="col-md-6">
                <figure class="image-block">
                {% thumbnail image.image '280x200' crop='center' as im %}
                    <a href="{% url 'image' pk=image.id  %}" class="thumbnail"><img src="{{ im.url }}" alt=""/></a>
                {% endthumbnail %}
                <span>
                    <ul id="image_{{ image.id }}_attributes">
                        {% if imagebase_settings.show_id %}
                            <li class="attr_id">id: {{ image.id }}</li>
                        {% endif %}
                        {% if imagebase_settings.show_title %}
                            <li class="attr_title">title: {{ image.title }}</li>
                        {% endif %}
                        {% if imagebase_settings.show_tags %}
                            <li class="attr_tags">tags: {{ image.tags.names|join:' ' }}</li>
                        {% endif %}
                    </ul>
                </span>
                </figure>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p><a href="{% url 'upload' %}">Upload an image</a></p>
            </div>
        {% endfor %}
        </div>


        <div class="col-md-6">
            <div id="image-detail-container">
                <h3>Select an image</h3>
            </div>
        </div>


    </div>
{% endblock %}


