{% extends 'base.html' %}
{% load thumbnail %}

{% block pagetitle %}Dashboard{% endblock %}

{% block main %}
    <h2>Dashboard</h2>

    <div class="row">
        <div class="medium-12 columns" id="image-master-container">
            <ul class="small-block-grid-2 medium-block-grid-3 image-grid">
                {% for image in image_list %}
                    <li class="image-panel" data-pk="{{ image.id }}">
                        {% include 'image_panel_content.html' %}
                    </li>
                {% empty %}
                    <li><a href="{% url 'upload' %}">Upload an image</a></li>
                {% endfor %}
            </ul>
        </div>
        {% spaceless %}
        <div data-sticky class="medium-4 columns card">
            <div class="side pjax-container panel front" id="image-detail-container"></div>
            <div class="side pjax-container panel back" id="image-update-container"></div>
        </div>
        {% endspaceless %}

    </div>


{% endblock %}


