{% extends 'base.html' %}
{% load thumbnail %}

{% block pagetitle %}Dashboard{% endblock %}

{% block main %}
    <h2>Dashboard</h2>
    <div class="row">
        {% for image in image_list %}
            <div class="col-xs-6 col-md-3">
            <div class="image-block">
            {% thumbnail image.image '180x180' crop='center' as im %}
                <a href="{% url 'image' pk=image.id  %}" class="thumbnail"><img src="{{ im.url }}" alt=""/></a>
            {% endthumbnail %}
            <span><label><input type="checkbox"/> {{ image.title }}</label></span>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


