#image-master-container {
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -ms-transition: width 0.6s;
    -o-transition: width 0.6s;
    transition: width 0.6s;
}

.image-grid {
    li {


        a {
            display: block;

        }

        .panel {
            background-color: #f3f3f3;
            border: none;
            padding-top: 4px;
            padding-bottom: 8px;
        }
    }
}

.image-attributes {

    li {
        color: #333;
        font-size: rem-calc(14);
    }

    small {
        display: block;
        color: $grey;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: rem-calc(9);
        font-weight: 600;
        margin-top: 10px;
    }
}